/* CSS Document */

.classify {
	text-align: center;
	font-size: 25px;
	font-weight: 600
}
.list_op {
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	border-right:5px solid #BBBBBB;
	border-top-color : transparent;
	border-width : 5px;
	border-left-color : transparent;
	border-bottom-color : transparent;
}
.list_op_end {
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	border-right-color : transparent;
	border-style : solid;
	border-top-color : transparent;
	border-width : 5px;
	border-left-color : transparent;
	border-bottom-color : transparent;
}
.picture {
	text-align: center;
	font-size: 16pt;
}
.jobtitle {
	text-align: left;
	font-style: normal;
	font-weight: 600;
	font-size: 16pt;
}
.payment {
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 16pt;
	color: #FF0000;
}
.jobcontent {
	font-style: normal;
	font-weight: 100;
	font-size: 12pt;
}
.joblocation {
	font-style: normal;
	font-weight: 600;
	font-size: 10pt;
}

.all_center{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}